{% extends 'index.html' %}
{% block titulo%}
Gr;afica accidentes
{% endblock titulo%}
{% block body %}

 <div class="card-body card-block text-center">
    <h2>Gráfica anual</h2>
    <img src="/Gestionar_Accidente/plot2020/" width="900px" />
  </div>

  <table class="table" style="background-color:#F4EAE8;">
    <thead class="thead-dark">
      <tr>
        <th>Enero</th>
        <th>Febrero</th>
        <th>Marzo</th>
        <th>Abril</th>
        <th>Mayo</th>
        <th>Junio</th>
        <th>Julio</th>
        <th>Agosto</th>
        <th>Septiembre</th>
        <th>Octubre</th>
        <th>Noviembre</th>
        <th>Diciembre</th>
        <th>Total</th>
        <th>Detalles</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>{{ enero }}</td>
        <td>{{ febrero }}</td>
        <td>{{ marzo }}</td>
        <td>{{ abril }}</td>
        <td>{{ mayo }}</td>
        <td>{{ junio }}</td>
        <td>{{ julio }}</td>
        <td>{{ agosto }}</td>
        <td>{{ septiembre }}</td>
        <td>{{ octubre }}</td>
        <td>{{ noviembre }}</td>
        <td>{{ diciembre }}</td>
        <td>{{ total }}</td>
         <td><a href="/Gestionar_Accidente/exportar_csv/?Ano=2020"><button style="background-color: #DF2222"  type="submit" class="btn btn-primary">Descargar</button></a></td>
      </tr>


    </tbody>
  </table>
  {% if user.groups.all.0.name == "Juez" %}
  <META HTTP-EQUIV="REFRESH" CONTENT="0; http://127.0.0.1:8000/homejuez/">
  {% elif user.groups.all.0.name == "Agenteadmin" %}

  {% elif user.groups.all.0.name == "Administrador" %}
  <META HTTP-EQUIV="REFRESH" CONTENT="0; http://127.0.0.1:8000/homeadmin/">
  {% else %}
  <META HTTP-EQUIV="REFRESH" CONTENT="0; http://127.0.0.1:8000/admin">
  {% endif %}

{% endblock body %}
