{% extends 'indexadmin.html' %}
{% block titulo%}
Agente de tránsito
{% endblock titulo%}
{% block body %}
<div class="card">
  <div class="card-header text-center">
    <strong>Consulta de Agente </strong><i>(Buscar por cédula del agente)</i>
  </div>
  <div class="card-body card-block text-center">
    <form action="#" method="post" enctype="multipart/
    form-data" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group text-center">
        <input type="text" name="Cedula" placeholder="Usuario"/ >
        <input type="submit" value="Buscar" class="btn btn-primary" style="background-color:#5e2129">

    </div>
  </form>
  <table class="table" frame="void" rules="none"  align="center" cellspacing="0" cellpadding="0" bordercolor="#ffffff" border="0" style="width: 1500px;">
    <thead class="thead-dark">


      <tr>

        <th>Nombres</th>
        <th>Usuario</th>
        <th>correo</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {% for a in users %}
      <tr>

        <td>{{ a.first_name }} {{ a.last_name }}</td>
        <td>{{ a.username }}</td>
        <td>{{ a.email }}</td>
        <td><a href="/Gestionar_Usuarios/deleteuser/?Agente_Transito={{a.username}}"><button style="background-color: #22CEDF"  type="submit" class="btn btn-primary">Eliminar</button></a></td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  </div>
</div>

{% if user.groups.all.0.name == "Juez" %}
<META HTTP-EQUIV="REFRESH" CONTENT="0; http://127.0.0.1:8000/homejuez/">
{% elif user.groups.all.0.name == "Agenteadmin" %}
<META HTTP-EQUIV="REFRESH" CONTENT="0; http://127.0.0.1:8000/home/">
{% elif user.groups.all.0.name == "Administrador" %}

{% else %}
<META HTTP-EQUIV="REFRESH" CONTENT="0; http://127.0.0.1:8000/admin">
{% endif %}
{% endblock body %}
